header{
    width: 100%;
    min-height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
   text-align: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: white;
    
}
.header{
  
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
}
a:hover{
    color: lightblue;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}
.menu{
    display: none;

}